<% include ../partials/head %>
<% include ../partials/header %>
<% include ../partials/form %>
<section>
  <% if (data) {
    data.forEach((card, i)=>{
      if (card.imageUrl){ %>
        <a style="animation-delay:<%= i * 100 %>ms" class="card" href="/<%= card.multiverseid %>" class="cardContainer">
          <img alt="<%= card.name %>" src="<%= card.imageUrl %>"></img>
        </a>
    <% }
  })
} %>
</section>
<% include ../partials/foot %>
