<!-- view/partials/foot.ejs -->
    <script type="text/javascript" src="../../js/fonfaceobserver.js"></script>
    <script type="text/javascript" src="<%= jsFilepath %>"></script>
    </body>
</html>
