<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body id="root">
  <header>
    <% include ../partials/header %>
  </header>
  <form action="/" id="form" method="post">
    <% include ../partials/form %>
  </form>
  <!-- <button id="submit">Search</button> -->
  <section>
    <% if (data) { data.forEach(card=>{ %>
        <a class="card" href="/<%= card.multiverseid %>" class="cardContainer">
          <img src="<%= card.imageUrl %>"></img>
        </a>
    <% })} %>
  </section>
</body>
</html>
